# Ignore everything by default
*

# Except this
!/.gitignore

# Bundle configuration
!/.bundle
/.bundle/*
!/.bundle/config

# Gem configuration
!/.gemrc

# Git configuration
!/.gitconfig
!/.gitignore.global

# NPM configuration
!/.npmrc

# VIM configuration
!/.vimrc
